{% extends "base.html" %}
{% load static %}

{% block title %}Сертификаты{% endblock title %}
{% block header %}Сертификаты{% endblock header %}

{% block content %}
<img class = "sert_images" src="{% static 'images/sert/1С Эксперт.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Спец Платформа 8.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Спец БП.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Спец УТ.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Спец УПП.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Проф Платформа 8.JPG' %}">
<img class = "sert_images" src="{% static 'images/sert/1С Проф УПП.JPG' %}">
{% endblock content %}